*{
	padding:0;
	margin:0;
	box-sizing:border-box;
	font-family: sans-serif;
}
html {
  scroll-behavior: smooth;
}
body{
	font-family: "Open Sans", sans-serif;
    color: #444444;
	letter-spacing:3;
}
.header{
	
    position:fixed ;
	top:0;
    width:100%;
    margin: auto;
	z-index:99;
	background-color:white;

}
.nav{
	
    width: 90%;
    display: flex;
    margin: 0 auto;
	font-weight:bold;
	align-items:center;
    justify-content: space-between;
	padding:25px 0;
}
.logo{
	
}
.nav li {
	color:black;
	padding:0 25px;
    display: inline-block;
	position:relative;
}
.nav li:hover{
	color: #49b5e7;

}
.nav ul{
	display:flex;
	
}
.home{
	width:100%;
	padding: 100px 0;
	background-color:#f1f1f1c4;
}
.home-container{
	width:90%;
	padding: 40px 0 0 0;
	margin:0 auto;
	display:flex;
}
.home-container-content{
	width:50%
}
.home-container-content h1{
	font-family :Dosis;
	font-size:42px;
	font-weight:700;
}
.home-container-content p{
	color:RGB(28, 105, 140);
	font-size:20px;
	padding:15px 0;
}
.button button{
	margin:auto;
	padding:10px 30px;
	background-color:rgb(73, 181, 231);
	border-radius:5%;
	border:none;
	font-size:18px;
	font-weight:bold;
	color:white;
	cursor:pointer;
	
}
.home-container-img{
	width:50%;
	display:flex;
	justify-content:center;
	align-items:center;
}
.home-container-img img{
	width:90%;
	height:90%;
	
}
.about{
	width:100%;
	padding: 70px 0;
}
.about-container{
	width:90%;
	margin:0 auto;
	display:flex;
}
.about-container-img{
	width:40%;
	background: url(../img/about.jpg) center center no-repeat;
	background-size: cover;
    min-height: 500px;
	overflow:hidden;
	position:relative;
	display:flex;

}
.play-button i{
	position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 70px;
    height: 70px;
    font-size: 25px;
    border-radius: 50%;
    box-shadow: 0px 0px 18px 17px #49b5e7b3;
    background-color: #49b5e7;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    animation: play 1s infinite;
	
}

@keyframes play {
	from {outline:2px solid #49b5e7;
		outline-offset:2px;}
		
    to {outline:2px solid #49b5e7;
		outline-offset:10px;}
}

.about-container-content{
	width:60%;
	padding: 50px;
}
.about-container-content h3{
	    font-size: 26px;
    font-weight: 700;
    color: #0f394c;
    margin-bottom: 15px;
}
.about-container-content p{
	line-height:24px;
	font-family: "Open Sans", sans-serif;
    color: #444444;
}
.about-container-content-details{
	
	
}
.about-details{
	width:100%;
	display:flex;
	margin-top:3em;
	
	
}
.about-details:hover i{
	color:white;
	background-color:#49b5e7;
	border: 2px solid #49b5e7;
}
.about-details h5:hover {
	color:#49b5e7;
}
.about-details-icons{
	width:15%;
	display:flex;
	align-items:center;
	
}
.about-details-icons i{
	width:60px;
	height:60px;
	border-radius:50%;
	border: 2px solid #d0ecf9;
	display:flex;
	justify-content:center;
	align-items:center;
	    color: #49b5e7;
    font-size: 32px;
	transition:all 1s ease;
}
.about-details-text{
	width:80%;
	
}
.about-details-text h5{
	font-size:18px;
	cursor:pointer;
	transition:all 1s ease;
}
.about-details-text p{
	font-size:14px;
	line-height:24px;
	margin-top: 10px;
	font-family: "Open Sans", sans-serif;
    color: #444444;
}
.count{
	width:100%;
	height:60vh;
	background-attachment:fixed;
	background-size:cover;
	background-image:linear-gradient(#ffffffcf , #ffffffcf  ),url(https://bootstrapmade.com/demo/templates/Butterfly/assets/img/counts-bg.jpg);
	background-repeat:no-repeat;

}
.count-container{
	width:90%;
	height:50vh;
	margin:0 auto;
	text-align:center;
	padding:60px 0;
}
.count-container-content{
	display:flex;
}
.count-container-head{
	padding:40px 0;
}
.count-container-head h2{
	
}
.count-container-head p{
	padding:8px 0;
}

.count-card{
	width:25%;
}
.count-card h2{
	font-size:40px;
	color:#49b5e7;
	padding:8px 0;
}
.count-card p{
	
}
.logos{
	width:100%;
	padding:30px 0;
	
}
.logos-container{
	width:90%;
	margin:0 auto;
	display:flex;
	flex-wrap:wrap;
}
.logo1{
	width:25%;
	padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
	border:1px solid #9e9e9ea1;
}
.logo1 img{
	width:50%;
	
	filter:grayscale(100%);
	transition:all .5s ease;
}
.logo1:hover img{
	transform:scale(1.5);
	
	filter:none
}
.services{
	width:100%;
	height:auto;
	padding:30px 0;
	background-color:#f4fbfe;
}
.services-container{
	width:90%;
	margin:0 auto;
}
.services-container-head{
	text-align:center;
}
.services-container-head h1{
	
}
.services-container-head p{
	padding:30px 0;
	font-size:18px;
}
.services-container-cards{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
}
.services-card1{
	width:31%;
	display:flex;
	margin: 20px 0;
	padding:10px 0;
	background-color:white;
	border-radius:10px;
	position:relative;
	overflow:hidden;
	transition:all .5s ease;
	box-shadow: 0px 0px 9px 0px #80808054;
}
.services-card1:hover{
	transform:translate(0px ,-15px)
}
.services-card1:hover h2{
	color:#49b5e7;
}
.services-card1-icon{
	
}
.services-card1-icon i{
    width: 20%;
    position: absolute;
    top: 45px;
    left: -25px;
    font-size: 64px;
}
.services-card1-text{
	padding-left: 74px;
    padding-top: 10px;
    padding-bottom: 20px;
	padding-right:10px;
}
.services-card1-text h2{
	font-size: 18px;
	transition:all .5s ease;
}
.services-card1-text p{
	font-size: 14px;
	padding:10px 0;
	letter-spacing:1px;
	line-height:2;
	color: #444444;
}
.portfolio{
	width:100%;
	height:auto;
	padding:30px 0;

}
.portfolio-container{
	width:90%;
	margin:0 auto;
}
.portfolio-container-head{
	text-align:center;
}
.portfolio-container-head h1{
	
}
.portfolio-container-head p{
	padding:30px 0;
	font-size:18px;
}
.portfolio-list{
	
}
.portfolio-list li {
	color:black;
	font-weight:bolder;
	padding:0 15px;
    display: inline-block;

}
.portfolio-list li:hover{
	color: #49b5e7;

}
.portfolio-list ul{
	display:flex;
	justify-content: center;
	
}
.portfolio-cards{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
	padding:50px 0;
}
.portfolio-card1{
	width:31%;
	position:relative;
    overflow: hidden;
    margin-bottom: 15px;
}
.portfolio-card1 img{
	width:100%

}
.portfolio-card1::before {
	content: "";
    background-color: #ffffffb3;
    position: absolute;
    width: 80%;
    top: 10%;
    bottom: 10%;
    left: 10%;
    right: 10%;
    opacity: 0;
	transition:all 0.5s ease-in-out;
}
.portfolio-card1:hover.portfolio-card1::before{
	opacity: 100%;
	transform:scale(1.5);
	
}
.portfolio-card1-content{
	 opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    z-index: 3;
    transition: all ease-in-out 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   

}
.portfolio-card1-content p{
	font-weight: normal;
	font-size:12px;
}
.portfolio-card1-content:hover{
	opacity: 100%;
	transform:scale(1.1);
	
}
.portfolio-card1-content::after{
	display: block;
    content: "";
    width: 48px;
    height: 48px;
    position: absolute;
    bottom: 30px;
    right: 30px;
    border-bottom:3px solid #bdc6ca;
    border-right: 3px solid #bdc6ca;
    transition: all 0.5s ease 0s;
    z-index: 9994;
   

}
.portfolio-card1-content::before{
	    display: block;
    content: "";
    width: 48px;
    height: 48px;
    position: absolute;
    top: 30px;
    left: 30px;
    border-top: 3px solid #bdc6ca;
    border-left: 3px solid #bdc6ca;
    transition: all 0.5s ease 0s;
    z-index: 999;
   

}
.portfolio-card1-icon i {
	color:skyblue;
	margin:8px;
	
}
.slide-profile{
	width:100%;
	height:60vh;
	background-attachment:fixed;
	background-size:cover;
	background-image:linear-gradient(#0b2937e6,#0b2937e6),url(../img/cta-bg.jpg);
	background-repeat:no-repeat;
}
.slide-profile-container{
	width:60%;
	padding:30px 0;
	margin:0 auto;
	text-align:center;
	color:white;
	
}
.slide-profile-img{
	width:100%;
	
}
.slide-profile-img img{
	width: 100px;
    border-radius: 50%;
    border: 6px solid rgba(255, 255, 255, 0.15);
	
}
.slide-profile-text{
	margin-top:20px;
}
.slide-profile-text h3{

	
}
.slide-profile-text h4{
	font-size:15px;
	font-weight:300;
	padding-bottom:15px;
	
}
.slide-profile-text p{
	
	
}
.slide-profile-slider{
	
	
}
.slider-dots{
	width:60%;
	padding:30px 0;
	margin:0 auto;
	text-align:center;
	display:flex;
	justify-content:center;
}
.slider-dot1{
	width:10px;
	height:10px;
	border-radius:50%;
	background:gray;
	margin:0 3px;
	
	
}
.slider-dot1:hover{
	
	background:white;
	
	
}

.team{
	width:100%;
	height:auto;
	padding:30px 0;
	background-color:#f4fbfe;
}
.team-container{
	width:90%;
	margin:0 auto;
}
.team-container-head{
	text-align:center;
}
.team-container-head h1{
	
}
.team-container-head p{
	padding:30px 0;
	font-size:18px;
}
.team-container-card{
	display:flex;
	justify-content:space-between;
}
.team-card1{
	width:23%;
	border-radius:10px;
	box-shadow: 0px 0px 9px 0px #80808054;
}
.team-card1-img{
	width:100%;
	position:relative;
}
.team-card1-img img{
	width:100%;
}
.team-card1-img-icons{
	position:absolute;
	left: 40px;
    position: absolute;
    bottom: 40px;
}
.team-card1-img-icons li{
	display:inline-block;
	padding-left:5px;
}
.team-card1-img-icons i{
	color:white;
	background-color:#49b5e7cc;
    text-align: center;
	font-size:20px;
    width: 40px;
    height: 40px;
	border-radius:50%;
	display:flex;
	justify-content:center;
	align-items:center;
	opacity:0;
	transition: all 0.5s ease 0s;
}
.team-card1-img-icons i:hover{
	background-color:#0d6efd;
}
.team-card1:hover .team-card1-img-icons i{
	opacity:100;
	transform:translate(0px,15px )
}	
.team-card1-img-icons a{
	text-decoration:none;
}
.team-card1-text{
	background-color:white;
	padding:10px;
}
.team-card1-text h4{
	
}
.team-card1-text p{
	padding:10px 0;
	font-weight: 400;
    color: #aaaaaa;
}
.gallery{
	width:100%;
	height:auto;
	padding:30px 0;
}
.gallery-container{
	width:85%;
	margin:0 auto;
}
.gallery-container-head{
	text-align:center;
}
.gallery-container-head h1{
	
}
.gallery-container-head p{
	padding:30px 0;
	font-size:18px;
}
.gallery-container-img{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
}
.gallery-img{
	width:24%;
	margin-bottom:10px;
	overflow:hidden;
	
}
.gallery-img:hover.gallery-img img{
	transform:scale(1.2);
}
.gallery-img img{
	width:100%;
	transition: all 0.5s ease 0s;

}

.contact{
	width:100%;
	height:auto;
	padding:30px 0;
}
.contact-container{
	width:90%;
	margin:0 auto;
}
.contact-container-head{
	text-align:center;
}
.contact-container-head h1{
	
}
.contact-container-head p{
	padding:30px 0;
	font-size:18px;
}

.contact-container-contact{
	display:flex;
	margin:30px 0;
	
}
.contact-content{
	width:35%;
}
.icon1{
	display:flex;
	padding: 25px 0;

}
.icon {
	width: 30%;
    font-size: 30PX;
	
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon i{
	color:#49b5e7;
	background: #ebf7fc;
	border-radius: 50%;
    text-align: center;
    width: 60px;
    height: 60px;
	display: flex;
    align-items: center;
    justify-content: center;
	transition: all 0.3s ease-in-out;
}
.icon1:hover i{
	color:white;
	background: #007aff;
}
.icon-text h5{
		font-size:18px;
}
.icon-text a{
	text-decoration:none;
	color:black;
	
}
.contact-form{
	width:65%;
}
form{
	
}
form input{
	width: 90%;
    height: 3.5em;
    margin: 1em 0;
    padding: 10px;
	
}
form textarea{
	width:90%;
	margin:1em 0;
	padding: 10px;
}
.formbutton button{
	margin:auto;
	padding:15px 50px;
	background-color:skyblue;
	border:none;
	font-size:18px;
	font-weight:bold;
	color:white;
	cursor:pointer;
	transition: all 0.5s ease-in-out;
}
.formbutton button:hover{
	
	color:white;
	background-color:skyblue;
}
.formbutton{
	margin:auto;
	display:flex;
	justify-content:center;
	align-items:center;
}
.join{
	width:100%;
	padding:30px 0;
	background-color:#f4fbfe;
}
.join-container{
	width:90%;
	margin:0 auto;
	text-align:center;
	
}
.join-container-head{
	
}
.join-container-head p{
	padding:20px 0;
	
}
.join-container-input .input-email{
	width:40%;
	height:40px;
	
}
.join-container-input .input-submit{
	width:10%;
	height:40px;
	color:white;
	background-color:#1da2e0;
	border:none;
	
}
.join-container-input .input-submit:hover{
	
	background-color:b;
	
	
}
.footer{
	width:100%;
	height:auto;
	
	padding:30px 0;
}
.footer-container{
	width:90%;
	margin:0 auto;
	display:flex;
}
.footer-container h3{
	padding-bottom:10px;
}
.footer-address{
	width:25%;
	
}
.footer-address h2{
	padding-bottom:10px;
	
}
.footer-address a{
	color:black;
	text-decoration:none;
	
}
.footer-address address {
	padding-bottom:30px;
	line-height:1.5;
}
.footer-details{
	width:25%;
	
}
.footer-list li{
	padding:5px 0;
	list-style-type: none;
	display: flex;
    align-items: center;
	
}
.footer-list  i{
	color:#49b5e7;
}
.footer-list a{
	
	color:black;
	text-decoration:none;
	
}
.footer-list a:hover{
	color:#49b5e7;
	
	
}
.footer-text{
	width:25%;
	
}
.footer-text p{
	padding:20px 0;
	
	
}
.footer-icon li{
	display: inline-block;
	
}
.footer-icon i{
	font-size: 14px;
    display: inline-block;
    background: #49b5e7;
    color: #fff;
   
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 4px;
    text-align: center;
    width: 30px;
    height: 30px;

}
.footer-icon i:hover{
	 background: #007aff;
	 
}
.footer-copyright{
	width:100%;
	height:auto;
	padding:30px 0;
	background-color:#f4fbfe;
}
.footer-copyright-content{
	width:90%;
	margin:0 auto;
	height:auto;
	display:flex;
	justify-content:space-between;
}
.footer-copyright-content a{
	
    text-decoration: none;
    color: #49b5e7;
}
.gototop a {
	font-size:20px;
	text-decoration:none;
	color:white;
	background:#0078ff;
	width:30px;
	height:30px;
	border-radius:5px;
	position:fixed;
	bottom:2%;
	right:1%;
	display:flex;
	justify-content:center;
	align-items:center;
}
	